<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>470440487634-umlf29auhgecolbufm3q31ba7rkk7jsn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.470440487634-umlf29auhgecolbufm3q31ba7rkk7jsn</string>
	<key>API_KEY</key>
	<string>AIzaSyDlS9A2tseB7iTtz66zMfjJ3etVnc2jMJQ</string>
	<key>GCM_SENDER_ID</key>
	<string>470440487634</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fantasysniper</string>
	<key>PROJECT_ID</key>
	<string>fantasysniper-2c1f6</string>
	<key>STORAGE_BUCKET</key>
	<string>fantasysniper-2c1f6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:470440487634:ios:026197d2e45ed2e7dedb0b</string>
</dict>
</plist>